<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: orangered; font-family: Georgia; color: whitesmoke; padding:20px;}
            h1{font-size: 35px; text-transform: uppercase; letter-spacing: 3px; text-align: center;}
            p{font-size: 14px; text-align: center;}

        </style>
    </head>
    <body>
        <h1>Check out the comments from all users</h1>
        <p>Sharing your thoughts is important to us, dont be afraid</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aliquam corporis eum quam nisi eius vel itaque iste maiores. Veritatis et odio autem nulla ex? Culpa repudiandae illum consequatur exercitationem.</p>
    </body>
</html>