<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: purple; font-family: Georgia; color: whitesmoke; padding:20px;}
            h1{font-size: 35px; text-transform: uppercase; letter-spacing: 3px; text-align: center;}
            p{font-size: 14px; text-align: center;}
            content{ font-size: larger;}
            the-users{border: 10px solid dotted black}
            profile-info{ background-color: lightblue; font-family:Tahoma; color: black; border: 10px solid blanchedalmond}

        </style>
    </head>
    <body>
        <h1>Welcome to our Community</h1>
        <p>We love to have you here, continue to express yourself</p>
      <container id="the-users">
        <div id="content"><P>Our Users</P></div>
        <div id="profile-info">
            
        </div>
    </container>
    </body>
</html>