<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: purple; font-family: Georgia; color: whitesmoke; padding:20px;}
            h1{font-size: 35px; text-transform: uppercase; letter-spacing: 3px; text-align: center;}
            p{font-size: 14px; text-align: center; }

        </style>
    </head>
    <body>
        <h1>Welcome to profile of <%=person%> </h1>
        <p>We love to have you here, continue to express yourself</p>
    </body>
</html>